<div class="page" data-name="about">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link" id="about-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">About</div>
			<div class="right">&nbsp;</div>
		</div>
	</div>
	<div class="toolbar tabbar tabbar-labels toolbar-bottom">
		<div class="toolbar-inner">
			<a href="#tab-1" class="tab-link tab-link-active">
				<i class="icon icon-fill f7-icons if-not-md">info</i>
				<i class="icon material-icons md-only">info</i>
				<span class="tabbar-label">About</span>
			</a>
			<a href="#tab-2" class="tab-link">
				<i class="icon f7-icons if-not-md">device_phone_portrait</i>
				<i class="icon material-icons md-only">device_phone_portrait</i>
				<span class="tabbar-label">Device</span>
			</a>
			<a href="#tab-3" class="tab-link">
					<i class="icon f7-icons if-not-md">wrench</i>
				<i class="icon material-icons md-only">wrench</i>
				<span class="tabbar-label">Diagnostics</span>
			</a>
		</div>
	</div>
	<div class="tabs-animated-wrap">
		<div class="tabs bottom-toolbar">
			<div class="page-content tab tab-active" id="tab-1">
				<div class="block">
					<h3 class="block-title">Little Reminder</h3>
					<h4 class="block-title">About this app</h4>
					<p>Simple app to record reminders on our server. The server will then send emails to help you remind the events.</p>
					<div class="block block-strong">
						<p><a href="/privacy/">Privacy Policy</a></p>
					</div>
					<div class="block block-strong">
						<p><a href="/terms/">Terms and Conditions</a></p>
					</div>	
				</div>		
			</div>
			<div class="page-content tab" id="tab-2">
				<div class="block">
					<h3 class="block-title">Device Information</h3>
					<div class="list simple-list">
						<ul>
							<li>
								App Name : <span id="device_info_name"></span>
							</li>
							<li>
								App Version : <span id="device_info_version"></span>
							</li>
							<li>
								App Build : <span id="device_info_build"></span>
							</li>
							<li>
								App Build Time : <span id="device_info_build_time"></span>
							</li>
							<li>
								Cordova : <span id="device_info_cordova"></span>
							</li>
							<li>
								Manufacturer : <span id="device_info_manufacturer"></span>
							</li>
							<li>
								Model : <span id="device_info_model"></span>
							</li>
							<li>
								Platform : <span id="device_info_platform"></span>
							</li>
							<li>
								Version : <span id="device_info_version"></span>
							</li>
							<li>
								Serial : <span id="device_info_serial"></span>
							</li>
							<li>
								uuid : <span id="device_info_uuid"></span>
							</li>
							<li>
								virtual : <span id="device_info_virtual"></span>
							</li>
							<li>
								Available : <span id="device_info_available"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-content tab" id="tab-3">
				<div class="block">
					<h3 class="block-title">Diagnostics</h3>
					<div class="list simple-list">
						<ul>
							<li>
								Network Status : <span id="device_diags_network"></span>
							</li>
							<li>
								Network : <span id="device_diags_connection_type"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>		
		</div>		
	</div>		
</div>
