<div class="page" data-name="account">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link" id="account-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Account</div>
			<div class="right">
				&nbsp;
			</div>
		</div>
	</div>

	<div class="page-content">
		<h2 class="text-align-center" id="accountDescription">??</h2>
		<div class="block">
			<div class="row">
				<div class="col-100 medium-50 desktop-50"">
					<div class="list animated">
						<ul>
							<li>
								<div class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Email</div>
										<div class="item-input-wrap">
											<input type="text" id="email" placeholder="Email" required validate>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Current Password</div>
										<div class="item-input-wrap">
											<input type="password" id="currentPassword" placeholder="Current Password" required validate>
											<i class="f7-icons input-feedback input-feedback-required">chevron_left</i>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Password</div>
										<div class="item-input-wrap">
											<input type="password" id="newPassword" placeholder="New Password" required validate>
											<i class="f7-icons input-feedback input-feedback-required">chevron_left</i>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Confirm Password</div>
										<div class="item-input-wrap">
											<input type="password" id="confirmPassword" placeholder="Confirm" required validate>
											<i class="f7-icons input-feedback input-feedback-required">chevron_left</i>
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div class="row text-align-center">
				<div class="col-100 medium-50 desktop-50"">
					<div class="block-footer">

								<div class="row">
									<a href="#" class="col-50 back button button-fill button-large color-blue display-flex"><i class="f7-icons">chevron_left</i> <span className="flex-grow">Cancel</span></a>
									<button class="col-50 button button-fill button-large color-green display-flex" id="changePassword"><span className="flex-grow">Save</span> <i class="f7-icons">cloud_upload</i></button>
								</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
