<div class="page" data-name="addReminder">
	<div class="navbar">
		<div class="navbar-inner sliding" id="alert-bg-color">
			<div class="left">
				<a href="#" class="link" id="addReminder-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Add Reminder</div>
			<div class="right">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="text-align-center h4">Add Reminder</div>
		<div class="block">
			<form class="list animated" id="addReminderForm">
				<ul>
					<!-- Text inputs -->
					<li>
						<div class="item-content item-input">
							<div class="item-media"><i class="f7-icons text-color-primary">calendar</i></div>
							<div class="item-inner">
								<div class="item-title item-label text-color-primary">Date</div>
								<div class="item-input-wrap">
									<input class="input-invalid" type="text" name="add_reminder_date" id="add_reminder_date" placeholder="Date">
									<div class="item-input-error-message">ERROR</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-media"><i class="f7-icons text-color-primary">alarm</i></div>
							<div class="item-inner">
								<div class="item-title item-label text-color-primary">Time</div>
								<div class="item-input-wrap">
									<input type="text" name="add_reminder_time" id="add_reminder_time" placeholder="Time">
								</div>
							</div>
						</div>
						<a class="item-link smart-select smart-select-init">
							<select name="add_reminder_period" id="add_reminder_period">
								<option value="0">No Repeat</option>
								<option value="1">Daily</option>
								<option value="7">Weekly</option>
								<option value="14">Fortnightly</option>
								<option value="30">Monthly</option>
								<option value="180">6 Monthly</option>
								<option value="365">Yearly</option>
								<option value="730">Bi Yearly</option>
							</select>
							<div class="item-content">
								<div class="item-media text-color-primary"><i class="f7-icons text-color-primary">repeat</i></div>
								<div class="item-inner">
									<div class="item-title text-label text-color-primary">Repeat</div>
								</div>
							</div>
						</a>
					</li>
					<li class="align-top">
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-input-wrap">
									<input class="text-small text-color-blue" type="text" name="add_reminder_due_in_desc" id="add_reminder_due_in_desc" />
								</div>
							</div>
						</div>
					</li>
					<li class="align-top">
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label text-color-primary">Description</div>
								<div class="item-input-wrap">
									<input type="text" placeholder="Description" name="add_reminder_description" id="add_reminder_description" required validate>
								</div>
								</div>
						</div>
					</li>									
					<li class="align-top">
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label text-color-primary">Notes</div>
								<div class="item-input-wrap">
									<textarea placeholder="Notes" name="add_reminder_notes" id="add_reminder_notes"></textarea>
								</div>
								</div>
						</div>
					</li>																																									
				</ul>
			</form>	
		</div>
			
		<div class="block">
			<div class="row">
				<button id="reminder-add-cancel-button" class="col-50 back button button-large button-fill color-blue display-flex"><i class="f7-icons">chevron_left</i> <span className="flex-grow">Cancel</span></button>
				<button id="reminder-add-save-button" class="col-50 button button-large button-feedback button-fill color-green display-flex"><span className="flex-grow">Save</span> <i class="f7-icons">cloud_upload</i></button>
			</div>
		</div>
	</div>
</div>