<div class="page" data-name="calendar">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link" id="calendar-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Calendar</div>
		</div>
	</div>


	<div class="page-content">
		<div class="list animated accordion-list reminder-list-calendar">
			<p class="text-align-center">This is when your reminders are.</p>
			<ul>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-calendar-month-title-1" class="item-title">January</div>
							<div id="reminder-bubble-calendar-1" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-1">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-calendar-month-title-2" class="item-title">February</div>
							<div id="reminder-bubble-calendar-2" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-2">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-calendar-month-title-3" class="item-title">March</div>
							<div id="reminder-bubble-calendar-3" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-3">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-calendar-month-title-4" class="item-title">April</div>
							<div id="reminder-bubble-calendar-4" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-4">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li> 
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-5" class="item-title">May</div>
							<div id="reminder-bubble-calendar-5" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-5">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-6" class="item-title">June</div>
							<div id="reminder-bubble-calendar-6" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
					<div class="content-block reminder-content-calendar-month" id="reminder-calendar-6">
						<p>No Reminders for this month</p>
					</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-7" class="item-title">July</div>
							<div id="reminder-bubble-calendar-7" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-7">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-8" class="item-title">August</div>
							<div id="reminder-bubble-calendar-8" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-8">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-9" class="item-title">September</div>
							<div id="reminder-bubble-calendar-9" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-9">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-10" class="item-title">October</div>
							<div id="reminder-bubble-calendar-10" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-10">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-11" class="item-title">November</div>
							<div id="reminder-bubble-calendar-11" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-11">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-calendar-month-title-12" class="item-title">December</div>
							<div id="reminder-bubble-calendar-12" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-calendar-12">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
			</ul>
		</div>			
	</div>		
</div>
