<div class="page" data-name="chatWith">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link" id="online-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Chat With <span id="userToChatWith"></span></div>
			<div class="right">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="toolbar messagebar">
		<div class="toolbar-inner">
			  <div class="messagebar-area">
				<textarea class="resizable" placeholder="Message" id="messageToSend"></textarea>
			  </div>
			  <a class="link send-link" id="sendMessageButton" href="#">Send</a>
		</div>
	</div>	
	<div class="page-content">
		<div class="page-content messages-content">
			<div class="messages" id="messageDisplayWindow">

			</div>
		</div>
	</div>
</div>