<div class="page" data-name="privacy">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Privacy Policy</div>
		</div>
	</div>
	<div class="page-content">
		<div class="block-title">Privacy Policy</div>
			<div class="block block-strong">
				<h3>Privacy Policy</h3>
				<p>Little Reminder allows users to enter and save dates that we will send you reminders about.</p> 
				<p>As such any information that you provide is not shared other than to provide this service. 
				It is not used for marketing, sales or passed on to any other company or organisaton</p>
				<p>Your details are used solely for the app unless you specifically choose to share it. 
				<p>The only messages that we send are app related reminder notifications or confirmations and any urgent notifications regarding the service such as problems or outages.</p>
				<p>As the project develops we may include links or advertisments that may be tailored to you but your details will not be shared and you are under no obligation to purchase any products or services that are advertised.</p>
				<p>You may delete your account at any time. As soon as the account is deleted we will cease to send any notifications and your information including any history will be purged.</p>
				<p>If you have any queries you can contact privacy at Little Reminder</p>         
				<h1>Privacy Policy 1.0.0 2020</h1>
				<br />
				<p>This privacy policy sets out how Little Reminder uses and protects any information that you give Little Reminder when you use this website or the apps.</p>
				<br />

				<p>Little Reminder is committed to ensuring that your privacy is protected. We ask you to provide certain information by which you can be identified when using the app,
				you can be assured that it will only be used in accordance with this privacy statement.</p>
				<br />

				<p>Little Reminder may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 26th March 2020.</p>
				<br />
				<h3>What we collect</h3>


				<p> We collect the following information:</p>
				<ul>
				<li>Your name.</li>
				<li>contact information in the form of your email address.</li>
				</ul>

				<h3>What we do with the information we gather</h3>

				<p>We require this information to carry out the app functions for the following reasons:</p>
				<ul>
				<li>Your name: Used solely to personalise the experience. The name is not checked and can be a nick name or alias</li>
				<li>Your email address: Used to identify you and to send you reminder emails.</li>
				</ul>

				<h3>Internal record keeping.</h3>
				<p>We may use the information to improve our products and services.</p>
				<p>We may periodically send emails about Little Reminder updates, or information such as system outages using email address which you have provided.</p>
				<p>We do not use your information to contact you for sales, advertising or market research purposes unless it is a part of the defined process of the app or service you are registered for.</p>
				<p>If you choose to assist with app development then we may email in response to queries, comments or suggestions you make in order to improve the event experience.
				This will only be in response to an email or communication from you. Participation in any of these activities is entirely optional and you may cease to participate at any time.</p>
				<p>We will not contact you by phone, fax or mail for purposes other than those outlined above. </p>

				<h3>Security</h3>

				<p>We are committed to ensuring that your information is secure.
				In order to prevent unauthorised access or disclosure, we have put in place suitable technological, physical,
				electronic and managerial procedures to safeguard and secure the information we collect online.</p>
				<h3>How we use cookies</h3>

				<p>Little Reminder does not use cookies for tracking use.</p>

				<h3>Personal Information</h3>
				<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so.</p>
				<p>We may use your personal information to send you promotional information about third parties which we think you may find interesting as a part of the event process.</p>

				<p>You may request details of personal information which we hold about you under the Data Protection Act 1998.
				A small fee will be payable. If you would like a copy of the information held on you please email us at dpa@Little Reminder.</p>

				<p>If you believe that any information we are holding on you is incorrect or incomplete, please email us as soon as possible at the above address.
				We will promptly correct any information found to be incorrect.</p>

				<h3>Right to be forgotten</h3>
				<p>You may at any time request that your account is deleted. This will delete your personal data, events and history of any transactions. All emails will cease 
				immediately and you will be completely remived and forgotten from the event system.</p>
				<p>Account deletion is free and permanent and cannot be undone. You are free to re-register at any time in the furture but you will not be able to recover your history from the purged account.</p>

			</div>
		</div>
	</div>
</div>
