<div class="page page-registration" data-name="registration">
	<div class="navbar">
		<div class="navbar-inner sliding" id="alert-bg-color">
			<div class="left">
				&nbsp;
			</div>
			<div class="title">Registration</div>
			<div class="right">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="block">

			<div class="text-align-center block">Registration is free and is required to secure and save your information.</div>
				<form id="registration-form">
					<div class="list no-hairline">
						<ul>
							<li class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label">Firstname</div>
									<div class="item-input-wrap">
										<input type="text" name="registration_fullname" id="registration_firstname" placeholder="e.g. Alice">
									</div>
								</div>
							</li>
							<li class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label">Surname</div>
									<div class="item-input-wrap">
										<input type="text" name="registration_surname" id="registration_surname" placeholder="e.g. Bobster">
									</div>
								</div>
							</li>
							<li class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label">Password</div>
									<div class="item-input-wrap">
										<input type="password" name="registration_password" id="registration_password" placeholder="Your password" required validate>
									</div>
								</div>
							</li>	
							<li class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label">Confirm Password</div>
									<div class="item-input-wrap">
										<input type="password" name="registration_password-confirm" id="registration_password_confirm" placeholder="Confirm password" required validate>
									</div>
								</div>
							</li>																			
							<li class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label">Email</div>
									<div class="item-input-wrap">
										<input type="text" name="registration_email" id="registration_email" placeholder="Your email" required validate>
									</div>
								</div>
							</li>
							<li class="checkbox-content">
								<div class="item-content">								
									<div class="item-inner ">
										<div class="item-title">I accept the <a href="/terms/">terms and conditions</a><br/> of use.</div>
										<div class="item-after">
											<label class="toggle toggle-init">
												<input type="checkbox" name="registration_terms" id="registration_terms" value="yes"><i class="toggle-icon color-theme-green"></i>
											</label>
										</div>
									</div>
								</div>
							</li>					
						</ul>
					</div>
				</form>

			</div>
			<div class="block-footer">
				<div class="block">
					<div class="row">
						<button class="col-50 back button button-large button-fill color-blue display-flex" id="cancel-registration-button"><i class="f7-icons">chevron_left</i> <span className="flex-grow">Cancel</span></button>
						<button class="col-50 button button-large button-fill color-green display-flex" id="submit-registration-button"><i class="f7-icons">cloud_upload</i> <span className="flex-grow">Register</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>