<div class="page" data-name="editReminder">
	<div class="navbar">
		<div class="navbar-inner sliding" id="alert-bg-color">
			<div class="left">
				<a href="#" class="link" id="reminder-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Edit Reminder</div>
			<div class="right">
				&nbsp;
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="block">
			<div class="block-title">Edit Reminder</div>
				<form class="list animated" id="editReminderForm">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content item-input">
								<div class="item-media"><i class="f7-icons text-color-primary">calendar</i></div>
								<div class="item-inner">
									<div class="item-title item-label text-color-primary">Date</div>
									<div class="item-input-wrap"">
										<input type="hidden" name="edit_reminder_id" id="edit_reminder_id">
										<input type="hidden" name="edit_user_id" id="edit_user_id">
										<input type="hidden" name="edit_parent_id" id="edit_parent_id">
										<input class="invalid" type="text" name="edit_reminder_date" id="edit_reminder_date" placeholder="Date">
									</div>
								</div>
							</div>
							<div class="item-content item-input">
								<div class="item-media"><i class="f7-icons text-color-primary">alarm</i></div>
								<div class="item-inner">
									<div class="item-title item-label text-color-primary">Time</div>
									<div class="item-input-wrap">
										<input type="text" name="edit_reminder_time" id="edit_reminder_time" placeholder="Time">
									</div>
								</div>
							</div>
							<a class="item-link smart-select smart-select-init">
								<select name="edit_reminder_period" id="edit_reminder_period">
									<option value="0">No Repeat</option>
									<option value="1">Daily</option>
									<option value="7">Weekly</option>
									<option value="14">Fortnightly</option>
									<option value="30">Monthly</option>
									<option value="180">6 Monthly</option>
									<option value="365">Yearly</option>
									<option value="730">Bi Yearly</option>
								</select>
								<div class="item-content">
									<div class="item-media"><i class="f7-icons text-color-primary">repeat</i></div>
									<div class="item-inner">
										<div class="item-title text-label text-color-primary">Repeat</div>
									</div>
								</div>
							</a>
						</li>
						<li class="align-top">
							<div class="item-content item-input">
								<div class="item-inner">
									<div class="item-input-wrap">
										<input class="text-small text-color-blue" type="text" name="edit_reminder_due_in_desc" id="edit_reminder_due_in_desc" />
									</div>
								</div>
							</div>
						</li>
						<li class="align-top">
							<div class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label text-color-primary">Description</div>
									<div class="item-input-wrap">
									  <input type="text" placeholder="Description" name="edit_reminder_description" id="edit_reminder_description" />
									</div>
								  </div>
							</div>
						</li>									
						<li class="align-top">
							<div class="item-content item-input">
								<div class="item-inner">
									<div class="item-title item-label text-color-primary">Notes</div>
									<div class="item-input-wrap">
									  <textarea placeholder="Notes" name="edit_reminder_notes" id="edit_reminder_notes"></textarea>
									</div>
								  </div>
							</div>
						</li>
						<li class="align-top">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Enabled</div>
									<div class="item-after">
										<label class="toggle toggle-init">
											<input type="checkbox" name="edit_reminder_enabled" value="yes"><i class="toggle-icon"></i>
										</label>
									</div>
								</div>
							</div>
						</li>	
						<li class="align-top">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">Archived</div>
									<div class="item-after">
										<label class="toggle toggle-init">
											<input type="checkbox" name="edit_reminder_archived" value="yes"><i class="toggle-icon"></i>
										</label>
									</div>
								</div>
							</div>
						</li>																																										
					</ul>
				</form>	
			</div>
				
			<div class="block">
				<div class="row">
					<a href="#index" class="col-50 back button button-large button-fill color-blue display-flex"><i class="f7-icons">chevron_left</i> <span className="flex-grow">Back</span></a>
					<button id="reminder-edit-save-button" class="col-50 button button-large button-feedback button-fill color-green display-flex"><i class="f7-icons">cloud_upload</i> <span className="flex-grow">Save</span></button>
				</div>
			</div>
			<div class="block">
				<div class="row justify-content-center">
				<div class="col-50">
					<button id="reminder-edit-delete-button" class="button button-large button-feedback button-outline color-red display-flex"><i class="f7-icons">xmark</i> <span className="flex-grow">Delete</span></button>
				</div>
				</div>
			</div>																
		</div>
	</div>
</div>