<div class="page" data-name="reminderPlan">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link" id="reminderPlan-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Reminder Plan</div>
		</div>
	</div>


	<div class="page-content">
		<div class="list animated accordion-list reminder-list-calendar">
			<p class="text-align-center">This is when we will send the reminders to you.</p>
			<ul>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-plan-month-title-1" class="item-title">January</div>
							<div id="reminder-plan-counter-bubble-1" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-1">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-plan-month-title-2" class="item-title">February</div>
							<div id="reminder-plan-counter-bubble-2" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-2">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-plan-month-title-3" class="item-title">March</div>
							<div id="reminder-plan-counter-bubble-3" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-3">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
						<div id="reminder-plan-month-title-4" class="item-title">April</div>
							<div id="reminder-plan-counter-bubble-4" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-4">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li> 
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-5" class="item-title">May</div>
							<div id="reminder-plan-counter-bubble-5" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-5">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-6" class="item-title">June</div>
							<div id="reminder-plan-counter-bubble-6" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
					<div class="content-block reminder-content-calendar-month" id="reminder-plan-6">
						<p>No Reminders for this month</p>
					</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-7" class="item-title">July</div>
							<div id="reminder-plan-counter-bubble-7" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-7">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-8" class="item-title">August</div>
							<div id="reminder-plan-counter-bubble-8" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-8">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-9" class="item-title">September</div>
							<div id="reminder-plan-counter-bubble-9" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-9">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-10" class="item-title">October</div>
							<div id="reminder-plan-counter-bubble-10" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-10">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-11" class="item-title">November</div>
							<div id="reminder-plan-counter-bubble-11" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-11">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
				<li class="accordion-item">
					<a href="#" class="item-content item-link">
						<div class="item-inner">
							<div id="reminder-plan-month-title-12" class="item-title">December</div>
							<div id="reminder-plan-counter-bubble-12" class="counter-bubble reminder-counter-bubble">0</div>
						</div>
					</a>
					<div class="accordion-item-content">
						<div class="content-block reminder-content-calendar-month" id="reminder-plan-12">
							<p>No Reminders for this month</p>
						</div>
					</div>
				</li>
			</ul>
		</div>			
	</div>		
</div>
