<div class="page" data-name="settings">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link" id="settings-back-link">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Settings</div>
			<div class="right">&nbsp;</div>
		</div>
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col-100 small-50">
				<div class="list animated">
					<ul>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" id="settings-radio-dark" name="dark-theme" value="dark" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title">Dark Mode</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Checked by default -->
								<input type="radio" id="settings-radio-light" name="dark-theme" value="light" />
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<div class="item-title">Light Mode</div>
								</div>
							</label>
						</li>
					</ul>
				</div>
				<div class="list">
					<ul>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-red" name="theme-color" value="red" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-red">Red</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-green" name="theme-color" value="green" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-green">Green</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-blue" name="theme-color" value="blue" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-blue">Blue</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-pink" name="theme-color" value="pink" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-pink">Pink</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-yellow" name="theme-color" value="yellow" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-yellow">Yellow</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-orange" name="theme-color" value="orange" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-orange">Orange</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-purple" name="theme-color" value="purple" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-purple">Purple</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-deeppurple" name="theme-color" value="deeppurple" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-deeppurple">Deep Purple</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-lightblue" name="theme-color" value="lightblue" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-lightblue">Light Blue</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-teal" name="theme-color" value="teal" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-teal">Teal</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-lime" name="theme-color" value="lime" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-lime">Lime</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-deeporange" name="theme-color" value="deeporange" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-deeporange">Deep Orange</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-gray" name="theme-color" value="gray" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-gray">Gray</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-black" name="theme-color" value="black" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-black">Black</div>
								</div>
							</label>
						</li>
						<li>
							<label class="item-radio item-content">
								<!-- Radio input -->
								<input type="radio" class="settings-radio-colour" id="settings-radio-color-theme-white" name="theme-color" value="white" />
								<!-- Radio icon -->
								<i class="icon icon-radio"></i>
								<div class="item-inner">
									<!-- Radio Title -->
									<div class="item-title text-color-white">White</div>
								</div>
							</label>
						</li>
					</ul>
				</div>
			</div>			
		</div>			
	</div>
</div>
