<div class="page" data-name="terms">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Terms and Conditions</div>
		</div>
	</div>
	<div class="page-content">
		<div class="block-title">Terms and Conditions</div>
			<div class="block block-strong">
				<h3>Terms and Conditions of Use</h3>
				<p>You may use the Little Reminder system to save, manage and record events that you wish to be reminded about.</p>
				<p>We cannot be held responsible for any erroneous or failed reminders, records, summaries, data or information.</p>
				<p>We will secure and protect your personal data and no information will be shared without your consent. </p>
				<p>The responsibility for remembering any mevents or dates remains entirely your responsibility.</p>
				<p>We cannot accept any liability or responsibility for system outages, mistakes, delayed, erroneous or unsent reminders or lost data or failures of the system or app.</p>
				<p>By using the Little Reminder you acknowledge your agreement to these terms.</p>
				<p>The bottom line, we do our very best but if things go wrong you can't blame us for anything forgotten, missed, or skipped dates events or reminders as managing your diary remains your responsibility.</p>
				<p>In return we will not share, sell or disclose your information.</p>
			</div>
		</div>
	</div>
</div>
