<li>
	<a href="/reminder/?id={{reminder_id}}" class="item-link item-content">
	  <div class="item-media"><i class="icon icon-f7"></i></div>
	  <div class="item-inner">
		<div class="item-title">
		  <div class="item-header text-color-primary">{{date_human}} - {{due_in_desc}}</div>
		  {{description}}
		</div>
		<div class="item-after">{{reminder_notes}}</div>
	  </div>
	</a>
</li>
