
<li>
	<div class="item-content">
		<div class="item-media">
			{{userInitial}}
		</div>
		<div class="item-inner">
			<div class="item-title-row">
				<a href="/chatWith/?id={{user}}::{{mqttHost}}">
					<div class="item-title text-color-primary">
						User {{user}}
					</div>
				</a>
			</div>
			
			<div class="item-subtitle text-color-primary-tint float-right">
				Host {{mqttHost}}
			</div>
		</div>
	</div>
</li>
