<div class="message message-received">
	<div class="message-avatar" style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-7.jpg);"></div>
	<div class="message-content">
	  	<div class="message-name">John Doe</div>
	  	<div class="message-header">Message header</div>
	  	<div class="message-bubble">
			<div class="message-text-header">Text header</div>
			<div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
			<div class="message-text-footer">Text footer</div>
	  	</div>
	  	<div class="message-footer">Message footer</div>
	</div>
</div>