
<li>
	<a class="item-link item-content" href="/reminder/?id={{reminder_id}}">
		<div class="item-media">
			{{reminderDate}}
		</div>
		<div class="item-inner">
			<div class="item-title-row">
				
				<div class="item-title text-color-primary">
					{{description}} <span class="ml-2 text-small text-color-primary-shade"><i class="f7-icons text-small">repeat</i> {{period_description}}</span>
				</div>
				<div class="float-right text-small text-color-primary-tint">
					{{#if reminder_time}} 
						<i class="f7-icons text-small">clock</i> 
					{{/if}}
					{{reminder_time}}
				</div>
				
			</div>
			
			<div class="item-subtitle text-color-primary-tint float-right">{{due_in_desc}}</div>
			<i class="f7-icons text-small float-left mt-2">calendar</i><div class="item-after text-color-primary-tint">{{date_human}}</div>
			{{#if (check notes)}}
				<i class="f7-icons text-small float-left mt-2">doc-text</i>
			{{/if}}
			<div class="item-text">{{notes}}</div>
			
		</div>
	</a>
</li>
