<li>
	<a href="/reminder/?id={{reminder_id}}" class="item-link item-content reminder-plan-{{type_class}}">
	  <div class="item-media"><i class="icon icon-f7"></i></div>
	  <div class="item-inner">
		<div class="item-title">
		  <div class="item-header text-color-primary">{{type_desc}} reminder for {{description}} </div>
		  Reminder date : {{date_human}}
		</div>
		<div class="item-after">{{reminder_notes}}</div>
	  </div>
	</a>
</li>
