<div class="message message-sent">
	<div class="message-avatar" style="background-image:url(https://cdn.framework7.io/placeholder/people-100x100-7.jpg);"></div>
	<div class="message-content">
		<div class="message-name">{{mqttPayload.id}}</div>
		<div class="message-header">{{timestamp}}</div>
		<div class="message-bubble">
			<div class="message-text">{{mqttPayload.body.data}}</div>
		</div>
	</div>
</div>