body {
	font-weight: 200;
}
.media-list .item-title, li.media-item .item-title {
    font-weight: 200;
}

.navbar .title {
	font-weight: 200;
}

#reset-part-two {
  display: none;
}
.theme-dark .navbar a.link.navbar-text {
  opacity: 1 !important;
}

.media-list a:nth-of-type(1) {
    background: #fafafa;
}
.media-list a:nth-of-type(2), .reminder-plan-tomorrow{
    background: #efefef;
}

.media-list a:nth-of-type(3), .reminder-plan-week{
  background: #dfdfdf;
}

.media-list a:nth-of-type(4), .reminder-plan-fortnight{
  background: #cfcfcf;
}

.media-list a:nth-of-type(5), .reminder-plan-month{
  background: #bfbfbf;
}


.theme-dark .media-list a:nth-of-type(1) {
    background: #212121;
}
.theme-dark .media-list a:nth-of-type(2), .theme-dark .reminder-plan-tomorrow{
    background: #373737;
}

.theme-dark .media-list a:nth-of-type(3), .theme-dark .reminder-plan-week{
  background: #454545;
}

.theme-dark .media-list a:nth-of-type(4), .theme-dark .reminder-plan-fortnight{
  background: #525252;
}

.theme-dark .media-list a:nth-of-type(5), .theme-dark .reminder-plan-month{
  background: #616161;
}

.media-list a:hover {
  opacity: 0.8;
}

a.button-dashboard {
	display: block;
	height: 12vh;
	line-height: 12vh;
	margin: 1vw;
	font-size: 24px;
	border-width: 1px;
	border-style: solid;
}

a.button-dashboard i{
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  margin-top: 3vh;
  font-size: 6vh;
  width: 8vw;
  text-align: center;
}

#loggedInUserButton i {
  margin-right: 4px;
}

#loggedInUser {
  text-transform: capitalize;
}

.card-header h3, .card-header h4, .card-header h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link.icon-only.panel-open {
	opacity: 1;
  text-transform: capitalize;
}

.theme-dark .link.icon-only.panel-open {
	opacity: 1;
}

.input-feedback {
	position: absolute !important;
	top: 0;
	right: 0;
	color: #ac0505 !important;
}
  
.input-feedback.success {
	color: #05ac05 !important;
}

.item-input-with-error-message .item-input-error-message {
	display: block !important;
	text-align: center;
}

.login-title .tag-text {
  color: #7c0101;
  font-size: 2.5rem;
  text-align: center;
}

.theme-light .title {
	color: #efefef;
}

.theme-dark .title {
	color: #efefef;
}
.ios .toolbar.toolbar-bottom {
	margin-bottom: 0;
}

.theme-dark .login-title .tag-text {
  color: rgb(255, 149, 0, 0.84);
}

.login-title .tag-text.tagline{
  font-size: 1.8rem;
}

.page-signin {
  background: #cccccc;

}

.login-container ul li {
  border: 1px solid #dcdcdc;
  margin: 0 2vw 2px 2vw;
  padding: 4px !important;
  border-radius: 4px;
  background: #f9f9f9;
}

.theme-dark .login-container ul li {
  border: 1px solid #999999;
  margin: 0 2vw 2px 2vw;
  padding: 4px !important;
  border-radius: 4px;
}

.theme-dark .login-container ul li {
  border: none;
}

.theme-dark .login-container ul li.item-content.item-input {
  background: rgba(255,255,255,0.05);
  border: 1px solid #888888;
}

li.item-content.item-button {
  background: none;
  border: none;
  padding: 10px 0 !important;
}

.theme-dark .login-container ul li input {
  color: #efefef;
}


.navbar a {
    color: #aaaaaa;
}

.navbar .title-large {
	font-weight: 50 !important;
}

.theme-dark .navbar {
  background: #292929;
}

.navbar-inner {
  	background: #292929;
  	width: calc(100% - 1px);
}

.theme-dark .navbar-inner {
  background: #292929;
}

.theme-dark .color-green {
  background: rgba(76, 217, 100, 0.15);
  border: 1px solid  rgb(76, 217, 100);
}

.button-full {
  width: 100%;
}

.button-outline {
	border-width: 1px;
}

.appbar {
  background: #373737;
}

.appbar .link{
  background: #373737;
}

.page-content > .block {
	margin-top: 4px;
}

.list {
	margin-bottom: 50px;
	margin-top: 0px;
}

.light-theme .list input[type=date], .light-theme .list input[type=datetime-local], .light-theme .list input[type=email], .light-theme .list input[type=number], .light-theme .list input[type=password], .light-theme .list input[type=search], .light-theme .list input[type=tel], .light-theme .list input[type=text], .light-theme .list input[type=time], .light-theme .list input[type=url], .light-theme .list select {
	color: #292929;
}

.dark-theme .list input[type=date], .dark-theme .list input[type=datetime-local], .dark-theme .list input[type=email], .dark-theme .list input[type=number], .dark-theme .list input[type=password], .dark-theme .list input[type=search], .dark-theme .list input[type=tel], .dark-theme .list input[type=text], .dark-theme .list input[type=time], .dark-theme .list input[type=url], .dark-theme .list select {
	color: #efefef;
}

.ui-comms {
  color: #00d25b;
  font-family: 'Courier New', Courier, monospace;
}

.ui-comms .error {
  color: #fc424a;
}

.user-name {
	cursor: pointer;
}

.user-name span {
	margin-left: 4px;
	margin-right: 4px;
}


.gauge-small {
  width: 100px;
  height: 100px;
}
.circle-nav {
  margin-left: 70px;
  margin-top: 70px;
  min-height: 300px;
  min-width: 300px;
  font-size: 0; /* handle collapsing margins */
}

.quadrant {
  border-style: none;
  display: inline-block;
  height: 150px;
  width: 150px;
  position: relative;
}

.top-left {
  border-top-left-radius: 100%;
  border-width: 4px 2px 2px 4px;
  background-color: red;
  color: #000000;
}

.top-right {
  border-top-right-radius: 100%;
  border-width: 4px 4px 2px 2px;
  background-color: yellow;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  border-width: 2px 2px 4px 4px;
  background-color: green;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  border-width: 2px 4px 4px 2px;
  background-color: blue;
}


.input-feedback {
    position: absolute;
    right: 0;
    top: 0;
}

.input-feedback-required {
    color: #ac0505;
}

.input-feedback-completed {
    color: #05ac05;
}

.input-feedback-normal {
    color: #05ac05;
    font-size: 2rem;
}

.input-feedback-warning {
    color: #fd7e14;
    font-size: 2rem;
}

.input-feedback-danger {
    color: #ac0505;
    font-size: 2rem;
}

.input-feedback-low {
    color: #0505ac !important;
    font-size: 2rem;
}


.h4 {
	font-size: 1.5rem;
}

.ml-1 {
	margin-left: 0.25rem !important;
}

.ml-2 {
	margin-left: 0.5rem !important;
}

.ml-3 {
	margin-left: 0.75rem !important;
}

.ml-4 {
	margin-left: 1rem !important;
}

.ml-5 {
	margin-left: 1.25rem !important;
}
.mr-1 {
	margin-right: 0.25rem !important;
}

.mr-2 {
	margin-right: 0.5rem !important;
}

.mr-3 {
	margin-right: 0.75rem !important;
}

.mr-4 {
	margin-right: 1rem !important;
}

.mr-5 {
	margin-right: 1.25rem !important;
}

.mt-1 {
	margin-top: 0.25rem !important;
}

.mt-2 {
	margin-top: 0.5rem !important;
}

.mt-3 {
	margin-top: 0.75rem !important;
}

.mt-4 {
	margin-top: 1rem !important;
}

.mt-5 {
	margin-top: 1.25rem !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 0.75rem !important;
}

.mb-4 {
	margin-bottom: 1rem !important;
}

.mb-5 {
	margin-bottom: 1.25rem !important;
}



.pl-1 {
	padding-left: 0.25rem !important;
}

.pl-2 {
	padding-left: 0.5rem !important;
}

.pl-3 {
	padding-left: 0.75rem !important;
}

.pl-4 {
	padding-left: 1rem !important;
}

.pl-5 {
	padding-left: 1.25rem !important;
}
.pr-1 {
	padding-right: 0.25rem !important;
}

.pr-2 {
	padding-right: 0.5rem !important;
}

.pr-3 {
	padding-right: 0.75rem !important;
}

.pr-4 {
	padding-right: 1rem !important;
}

.pr-5 {
	padding-right: 1.25rem !important;
}

.pt-1 {
	padding-top: 0.25rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-3 {
	padding-top: 0.75rem !important;
}

.pt-4 {
	padding-top: 1rem !important;
}

.pt-5 {
	padding-top: 1.25rem !important;
}

.pb-1 {
	padding-bottom: 0.25rem !important;
}

.pb-2 {
	padding-bottom: 0.5rem !important;
}

.pb-3 {
	padding-bottom: 0.75rem !important;
}

.pb-4 {
	padding-bottom: 1rem !important;
}

.pb-5 {
	padding-bottom: 1.25rem !important;
}
.text-small {
	font-size: 10px !important;
}

.text-label {
	font-size: 12px !important;
}

.text-color-primary-shade {
	color: var(--f7-theme-color-shade) !important;
}

.text-color-primary-tint {
	color: var(--f7-theme-color-tint) !important;
	font-weight: 50 !important;
}

.color-theme-red .bg-color-primary {
	color: #fefefe !important;
}

.color-theme-red .text-color-primary-tint {
	color: #9c2020 !important;
}

.color-theme-red .text-color-primary-shade {
	color: #5c0000 !important;
}

.theme-dark .text-color-red {
	color: #c54646 !important;
}
.item-inner .float-right {
	min-width: 3rem;
}

#editReminderForm input, #editReminderForm textarea {
	color: #4a4a4a !important;
}

.bg-color-red {
  background:rgba(124,1,1, 1) !important;
  border:1px solid rgba(124,1,1, 0.84) !important;
  color:rgba(255,255,255,.84);
}

.bg-color-green {
  background:rgba(76,217,100, 1) !important;
  border:1px solid rgba(76,217,100, 0.84) !important;
  color:rgba(255,255,255,.84);
}

.bg-color-blue {
  background:rgba(33,150,243, 1) !important;
  border:1px solid rgba(33,150,243, 0.84) !important;
  color:rgba(255,255,255,.84);
}

.bg-color-orange {
  background:rgba(255,149,0, 1) !important;
  border:1px solid rgba(255,149,0, 0.84) !important;
  color:rgba(255,255,255,1);
}

.bg-color-yellow {
  background:rgba(255,204,0, 1) !important;
  border:1px solid rgba(255,204,0, 0.84) !important;
  color:rgba(0,0,0,.54);
}


.bg-color-gray {
  background:rgba(142, 142, 142, 1) !important;
  border:1px solid rgba(142,142, 142, 0.84) !important;
  color:rgba(255, 255, 255,.54);
}

.theme-dark .bg-color-red {
  background:rgba(124,1,1, 0.1) !important;
  border:1px solid rgba(124,1,1, 0.84) !important;
  color:rgba(124,1,1,.84);
  border-radius: 4px;
}
.navbar-inner.bg-color-red .link {
    color:rgba(124,1,1,.84);
}

.theme-dark .bg-color-green {
  background:rgba(76,217,100, 0.1) !important;
  border:1px solid rgba(76,217,100, 0.84) !important;
  color:rgba(76,217,100,.84);
  border-radius: 4px;
}

.theme-dark .bg-color-blue {
  background:rgba(33,150,243, 0.1) !important;
  border:1px solid rgba(33,150,243, 0.84) !important;
  color:rgba(33,150,243,.84);
  border-radius: 4px;
}
.navbar-inner.bg-color-blue .link {
    color:rgba(33,150,243,.84);
}
.theme-dark .bg-color-orange {
  background:rgba(255,149,0, 0.1) !important;
  border:1px solid rgba(255,149,0, 0.84) !important;
  color:rgba(255,149,0,.84);
  border-radius: 4px;
}
.navbar-inner.bg-color-orange .link {
    color:rgba(255,149,0,.84);
}
.theme-dark .bg-color-yellow {
  background:rgba(255,204,0, 0.1) !important;
  border:1px solid rgba(255,204,0, 0.84) !important;
  color:rgba(255,204,0,.84);
  border-radius: 4px;
}
.navbar-inner.bg-color-yellow .link {
    color:rgba(255,204,0,.84);
}

.theme-dark .bg-color-gray {
  background:rgba(142, 142, 142, 0.1) !important;
  border:1px solid rgba(142,142, 142, 0.84) !important;
  color:rgba(142, 142, 142,.84);
  border-radius: 4px;
}

.theme-dark .list .bg-color, .theme-light .list .bg-color {
  border: none !important;
}

.alert-list .item-title{
  font-size: 14px;
}

.alert-list .item-after{
  font-size: 10px;
}

.alert-list .item-subtitle{
  font-size: 12px;
}

.alert-list .item-cell{
  font-size: 12px;
}


.critical-alerts {
  background:rgba(124,1,1, 0.24) !important;
}

.warning-alerts {
  background:rgba(255,204,0, 0.24) !important;
}
.info-alerts {
  background:rgba(33,150,243, 0.24) !important;
}

.page-content.ptr-list {
  padding-top: 0;
}

.tab-link.tab-link-active {
  color: rgb(76,217,100);
}

#process-restart-response-message {
    font-family: 'Courier New', Courier, monospace;
    color: #efefef;
    background: #575757;
    padding: 14px;
    border-radius: 8px;
    text-shadow: -1px -1px #000 !important;
}
#process-restart-response-message hr {
  border-top: 1px solid #000000;
}

.loader-splash-screen {
  width: 100%;
  height: 140%;
  z-index: 40050;
  position: absolute;
  top: 0%;
  left: 0;
  background: #aaaaaa;
  transition: 1s all;
}

.splash-fade {
  opacity: 0;
}

.splash-left {
  left: -120%;
  transition: 0s all;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  top: 20%;
  left: (50% - 10.2em);
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #aaaaaa;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #aaaaaa;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}



.description-helper-container {
	position: relative;
  }
  .description-helper {
	  position: absolute;
	  top: 50px;
	  width: 90%;
	  z-index: 20;
  }
  
  .description-helper-hidden {
	  display: none;
  }
  
  .description-helper .list-block, .description-helper .list-block ul{
	margin: 0 !important;
	padding: 0 !important;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.34);
  }
  
  .description-helper .list-block, .description-helper .list-block ul li{
	color: #122db0;
	}
  
  .description-helper .list-block, .description-helper .list-block li div .card-content-inner:hover{
	background: #ededed;
  }
  
  .description-helper .list-block, .description-helper .list-block ul li{
	margin: 0 !important;
  }
  
  li {
	margin-top: 0;
  }
  


@media (min-width:768px) and (min-height:600px){
    #app .panel-left {
      left: 0 !important;
      display: block !important;
      transform: translate3d(0%,0,0) !important;
    }
    #app .panel-left .link.icon-only.panel-close {
      display: none;
    }
    #app .left .panel-open {
      display: none !important;
    }
    #app .view-main {
      margin-left: 260px !important;
    }
    #app .left .link.back {
      display: none !important;
	}
}

@media (min-width:1600px) and (min-height:600px){
    #app .panel-right {
      transform: translate3d(0px,0,0);
      display: block !important;
    }

    #app .panel-right .link.icon-only.panel-close {
      display: none;
    }
    #app .right .panel-open {
      display: none !important;
	}
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



